# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

README.md
heroku.yml
Dockerfile
docker-entrypoint.sh
.gitlab-ci.yml
.gitignore
.webpack

# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### dotenv ###
.env

# End of https://www.toptal.com/developers/gitignore/api/dotenv

